@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100vw;
  background-color: #21120d;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  display: unset;
  color: white; }

.parallax {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh; }
  .parallax .layer {
    width: 100%;
    position: absolute;
    top: 0; }
  .parallax .layer0 {
    z-index: 8; }
  .parallax .layer1 {
    z-index: 7;
    box-shadow: 0 0 50px 50px #21120d; }
  .parallax .layer2 {
    z-index: 6; }
  .parallax .layer3 {
    z-index: 5; }
  .parallax .layer4 {
    z-index: 4; }
  .parallax .layer5 {
    z-index: 3; }
  .parallax .layer6 {
    left: 0;
    z-index: 2;
    opacity: 0.5; }
  .parallax .layer7 {
    z-index: 1;
    animation: sun-blur 5s alternate-reverse infinite; }
  .parallax .layer8 {
    z-index: 0; }

@keyframes sun-blur {
  0% {
    filter: blur(0); }
  100% {
    filter: blur(2px); } }
@keyframes cloud {
  0% {
    left: 0; }
  100% {
    left: 100%; } }
.filler {
  width: 100%;
  height: 100vh; }

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;
  width: 100%;
  background: #21120d;
  color: rgba(255, 255, 255, 0.288);
  box-shadow: 0 0 50px 50px #21120d; }
  .skills .slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%; }
  .skills .slide-track {
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(200px * 20); }
  .skills .slide {
    text-align: center; }
@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-200px * 10)); } }
  .skills .neon {
    margin: 50px;
    position: relative;
    color: white;
    z-index: 0;
    text-shadow: 0 0 10px #f09b9b; }
  .skills .neon::after {
    content: attr(data-text);
    color: #f09b9b;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(15px); }
  .skills .neon::before {
    content: '';
    background-color: rgba(240, 155, 155, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    filter: blur(15px); }
  .skills .neon:nth-child(15) {
    animation: flikker 2s linear infinite; }
  .skills .neon:nth-child(27) {
    animation: flikker 2s linear infinite; }
@keyframes flikker {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0.5; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.sidebar, .hiden-side {
  font-family: 'Great Vibes', cursive;
  font-size: x-large;
  float: left;
  width: 40%;
  height: 100vh;
  display: grid;
  place-content: center;
  position: sticky;
  top: 0;
  text-align: center; }
  .sidebar .side-content, .hiden-side .side-content {
    display: flex;
    align-items: center;
    justify-content: center; }
    .sidebar .side-content .tabs, .hiden-side .side-content .tabs {
      width: 300px;
      height: 300px;
      position: relative; }
      .sidebar .side-content .tabs .tab, .hiden-side .side-content .tabs .tab {
        width: 200px;
        height: 200px; }
      .sidebar .side-content .tabs .tab:nth-child(4), .hiden-side .side-content .tabs .tab:nth-child(4) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10; }
      .sidebar .side-content .tabs .tab:nth-child(2), .hiden-side .side-content .tabs .tab:nth-child(2) {
        position: absolute;
        top: 20%;
        left: 0;
        opacity: 0;
        animation: tab 0.5s ease-in-out  1 forwards; }
      .sidebar .side-content .tabs .tab:nth-child(3), .hiden-side .side-content .tabs .tab:nth-child(3) {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        animation: tab 0.5s ease-in-out 0.5s 1 forwards; }
@keyframes tab {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }
    .sidebar .side-content h1, .hiden-side .side-content h1 {
      z-index: 50;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 5px black; }
    .sidebar .side-content .painter, .hiden-side .side-content .painter {
      width: 300px;
      height: 300px;
      position: relative; }
      .sidebar .side-content .painter .brush, .hiden-side .side-content .painter .brush {
        width: 300px;
        height: 300px;
        z-index: -1;
        animation: brush-slide 2s ease-in-out alternate-reverse infinite; }
      .sidebar .side-content .painter .paint, .hiden-side .side-content .painter .paint {
        width: 150px;
        height: 10px;
        position: absolute;
        z-index: -2;
        bottom: -10px;
        left: 60%;
        animation: paint-slide 2s ease-in-out alternate-reverse infinite; }
@keyframes paint-slide {
  0% {
    width: 0; }
  100% {
    width: 100px; } }
@keyframes brush-slide {
  0% {
    transform: translateX(-100px) rotate(0deg); }
  100% {
    transform: translateX(0px) rotate(10deg); } }
.hiden-side {
  display: none;
  width: 100%;
  height: 30vh;
  position: relative;
  background-color: transparent; }
  .hiden-side .side-content {
    height: 75%; }
    .hiden-side .side-content .tabs {
      width: 30%;
      height: 100%; }
      .hiden-side .side-content .tabs .tab {
        width: 100px;
        height: 100px; }
    .hiden-side .side-content .painter {
      width: 30%;
      height: 100%; }
      .hiden-side .side-content .painter .brush {
        width: 140px;
        height: 140px;
        animation: none; }
      .hiden-side .side-content .painter .paint {
        animation: none;
        width: 75px; }

.projects {
  float: right;
  width: 60%;
  height: 100vh;
  display: grid;
  place-content: center; }
  .projects .project-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .projects .project-items .project {
      width: 300px;
      height: 250px;
      position: relative;
      opacity: 0;
      margin: 2%; }
      .projects .project-items .project a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        font-size: 200%;
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        text-decoration: none;
        color: white;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px; }
        .projects .project-items .project a p {
          font-size: 20px;
          opacity: 0;
          transition: 0.5s; }
        .projects .project-items .project a h4 {
          transition: 0.5s; }
        .projects .project-items .project a i {
          transition: 0.5s; }
      .projects .project-items .project a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1); }
      .projects .project-items .project a::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
        transition: 0.5s; }
      .projects .project-items .project a:hover {
        transform: scale(1.05); }
        .projects .project-items .project a:hover::after {
          left: 100%; }
        .projects .project-items .project a:hover p {
          opacity: 1; }
        .projects .project-items .project a:hover h4 {
          transform: translateY(-7px);
          font-size: 80%; }
        .projects .project-items .project a:hover i {
          transform: translateY(-7px);
          font-size: 30px; }
      .projects .project-items .project i {
        color: #f1afaf; }

.filler4 {
  width: 100%;
  height: 30vh;
  background-color: transparent;
  float: right; }

.extra {
  float: right;
  width: 60%;
  height: 100vh;
  display: grid;
  place-content: center; }
  .extra .extra-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; }
    .extra .extra-items .eitem {
      padding: 20px;
      margin: 20px;
      text-align: center;
      position: relative;
      background: linear-gradient(to left, rgba(255, 255, 255, 0.1), transparent, rgba(255, 255, 255, 0.1));
      width: 200%;
      height: 10%;
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .extra .extra-items .eitem p {
        color: rgba(255, 255, 255, 0.7); }
      .extra .extra-items .eitem h3 {
        color: white; }
    .extra .extra-items .eitem::before {
      position: absolute;
      content: '';
      height: 0;
      width: 0;
      border: 1px solid transparent;
      bottom: 0;
      left: 0;
      box-sizing: border-box; }
    .extra .extra-items .eitem::after {
      position: absolute;
      content: '';
      height: 0;
      width: 0;
      border: 1px solid transparent;
      top: 0;
      right: 0;
      box-sizing: border-box; }
    .extra .extra-items .eitem:hover:before {
      height: 100%;
      width: 100%;
      border: 1px solid white;
      border-right: none;
      border-bottom: none;
      transition: height 0.5s linear, width 0.5s linear 0.5s; }
    .extra .extra-items .eitem:hover:after {
      height: 100%;
      width: 100%;
      border: 1px solid white;
      border-left: none;
      border-top: none;
      transition: height 0.5s linear , width 0.5s linear 0.5s; }

.work {
  height: 900px;
  width: 100%;
  background: #21120d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 50px 150px #21120d; }
  .work img {
    height: 60%;
    position: absolute; }
  .work .work-bg1 {
    z-index: 4;
    opacity: 0; }
  .work .work-bg2 {
    z-index: 3;
    opacity: 0; }
  .work .work-bg3 {
    z-index: 2;
    opacity: 0; }
  .work .work-bg4 {
    z-index: 1; }

.edu {
  height: 900px;
  width: 100%;
  background: #21120d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .edu .edu-header {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative; }
    .edu .edu-header h1 {
      transition: 0.5s; }
      .edu .edu-header h1:hover {
        transform: scale(1.1); }
    .edu .edu-header svg {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 5; }
      .edu .edu-header svg .path {
        stroke-width: 20;
        fill: transparent;
        stroke: #744130;
        stroke-dasharray: 1610;
        stroke-dashoffset: 0;
        --webkit-animation: circle12 3s forwards linear ; }
    .edu .edu-header .book {
      position: absolute;
      top: 10%;
      width: 80%;
      z-index: 10; }
  .edu .edu-items {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.7);
    line-height: 30px; }
    .edu .edu-items h2 {
      display: inline;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      padding: 5px;
      text-align: center; }
    .edu .edu-items p {
      text-align: center; }

@keyframes circle12 {
  0% {
    stroke-dashoffset: 0; }
  40% {
    stroke-dashoffset: 1610; }
  80% {
    stroke-dashoffset: 3220;
    fill: transparent; }
  100% {
    stroke-dashoffset: 3220;
    fill: #744130; } }
.footer {
  width: 100%;
  height: 405px;
  background: url("images/city.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  position: relative;
  overflow: hidden;
  animation: citymoveneg 10s linear infinite; }
  .footer .car {
    position: absolute;
    bottom: 10px;
    left: 0px; }

@keyframes citymoveneg {
  from {
    background-position: 0 0; }
  to {
    background-position: -100% 0; } }
@keyframes citymovepos {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }
.contacts {
  height: 900px;
  width: 100%;
  background: #21120d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .contacts .contact-header {
    width: 30%;
    height: 30%;
    background: url("images/bg5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
    font-family: 'Great Vibes', cursive;
    font-size: 180%;
    color: #4f3328;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
    clip-path: polygon(0 3%, 100% 0, 100% 30%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0% 30%);
    transition: clip-path 1s; }
    .contacts .contact-header h1 {
      transition: 0.5s; }
      .contacts .contact-header h1:hover {
        transform: scale(1.1); }
  .contacts .contact-items {
    width: 50%;
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start; }
    .contacts .contact-items a {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
      transition: 0.5s; }
      .contacts .contact-items a i {
        font-size: 30px;
        margin: 10px; }
    .contacts .contact-items a:hover {
      transform: scale(0.9s); }

@keyframes shaper {
  0% {
    clip-path: polygon(0 3%, 100% 0, 100% 30%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0% 30%); }
  50% {
    clip-path: polygon(0 30%, 100% 0, 63% 100%, 47% 80%, 29% 100%, 29% 66%, 90% 11%, 21% 55%); }
  100% {
    transform: translateX(50px) translateY(-50px);
    clip-path: polygon(0 30%, 100% 0, 63% 100%, 47% 80%, 29% 100%, 29% 66%, 90% 11%, 21% 55%); } }
@media (max-width: 800px) {
  .parallax {
    height: 50vh;
    width: 100vw;
    overflow-x: hidden; }
    .parallax .layer {
      height: 50vh;
      object-fit: cover;
      object-position: center;
      position: absolute; }

  .filler {
    display: none; }

  .skills .skill-list {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: none; }
    .skills .skill-list .hide {
      display: none; }

  .sidebar, .hiden-side {
    display: none; }

  .hiden-side {
    display: inline;
    background: linear-gradient(to bottom, transparent, transparent, #311b14, transparent, transparent); }

  .filler4 {
    display: none; }

  .projects {
    width: 100%; }

  .extra {
    width: 100%; }
    .extra .extra-items .eitem {
      width: 100%;
      height: 15%; }

  .projects .project-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .projects .project-items .project {
      width: 250px;
      height: 200px;
      margin: 5%; }
      .projects .project-items .project a {
        padding-top: 0;
        transform: scale(1.05); }
        .projects .project-items .project a::after {
          left: 100%; }
        .projects .project-items .project a p {
          opacity: 1; }
        .projects .project-items .project a h4 {
          transform: translateY(-7px);
          font-size: 80%; }
        .projects .project-items .project a i {
          transform: translateY(-7px);
          font-size: 30px; }

  .work img {
    height: 35%; }

  .edu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .edu .edu-header {
      width: 75%;
      height: 10%;
      height: 30%; }
      .edu .edu-header h1 {
        transition: 0.5s; }
        .edu .edu-header h1:hover {
          transform: scale(1.1); }
    .edu .edu-items {
      width: 75%;
      height: 35%;
      height: 30%; }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .contacts .contact-header {
      width: 75%;
      height: 10%;
      width: 200px;
      height: 200px; }
      .contacts .contact-header h1 {
        transition: 0.5s; }
        .contacts .contact-header h1:hover {
          transform: scale(1.1); }
    .contacts .contact-items {
      width: 75%;
      height: 35%; }

  .footer {
    animation: citymovepos 15s linear infinite; }
    .footer .car {
      width: 80%; } }
@keyframes slide-down {
  from {
    transform: translateY(-100px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes slider {
  from {
    transform: translateX(100px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
@keyframes slide-right {
  from {
    transform: translateX(-100px) scale(1.3);
    opacity: 0; }
  to {
    transform: translateX(0px) scale(1);
    opacity: 1; } }
@keyframes slide-left {
  from {
    transform: translateX(100px) scale(1.3);
    opacity: 0; }
  to {
    transform: translateX(0) scale(1);
    opacity: 1; } }
::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, transparent 0%, #e5a795 100%);
  border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
